default:
    context:
        parameters:
            token_url: http://api.example.com/oauth/token
            authorize_url: http://api.example.com/oauth/authorize
            client_id: app-client-id
            client_secret: secret
            username: username
            password: password
            scope: scope
